:root {
  --hero-background: #ffb8ca;
  --section-background: #fff5f6;
  --section-alt-background: #ffffff;
  --accent-color: #d41443;
  --text-contacts-btn-red: #ffffff;
  --bgc-contacts-foodtrack: #c2e297;
  --bgc-contacts-cafe: #f0d1a5;
  --bgc-contacts-btn: #d41342;
  --bgc-contacts-btn-white: #ffffff;
  --accent-contacts-btn-white: #ecebeb;
  --accent-contacts-btn-red: #c7133e;
  --label-title-color: #ffa5ba;
  --slider-background: #fafafa;
  --review-decoration: #e1e1e1;
  --pagination-color: #d9d9d9;
  --footer-accent: #fea5bb;
  --ice-coffe-color: #f0d1a5;
  --milkshakes-color: #c2e297;
  --about-paragraph-color: #907e82;
  --dark-color: #000000;
  --contacts-text: #907e82;
  --logo-title-font: 'Titan One', cursive;
  --main-font: 'DM Sans', sans-serif;
  --border-color-mobile-nav-link: #E18298;
  --bgr-color-mobile-menu: #e17992;
}

$temp-outline: 1px solid teal;
