<div class="about-backdrop is-hidden-about" about-modal>
    <button class="about-modal-close" about-modal-close>
        <svg class="close-icon-about" width="14" height="14">
            <use href="./images/sprite.svg#close-icon"></use>
        </svg>
    </button>
    <ul class="about-pros list">

        <li class="about-pros-item">
            <div class="about-picture-wrap"> 
                <picture>
                    <source srcset="./images/modal-about/face-cow-desktop.webp 1x, 
                    ./images/modal-about/face-cow-desktop@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)">
                        
                    <source srcset="./images/modal-about/face-cow-desktop.jpg 1x, 
                        ./images/modal-about/face-cow-desktop@2x.jpg 2x" 
                        media="(min-width: 1280px)">
            
                    <source srcset="./images/modal-about/face-cow-tablet.webp 1x, 
                        ./images/modal-about/face-cow-tablet@2x.webp 2x" 
                        type="image/webp" media="(min-width: 768px)">
                            
                    <source srcset="./images/modal-about/face-cow-tablet.jpg 1x, 
                        ./images/modal-about/face-cow-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)">
                        
                    <source srcset="./images/modal-about/face-cow-mobile.webp 1x, 
                        ./images/modal-about/face-cow-mobile@2x.webp 2x" 
                        type="image/webp" media="(min-width: 320px)">
                        
                    <source srcset="./images/modal-about/face-cow-mobile.jpg 1x, 
                        ./images/modal-about/face-cow-mobile@2x.jpg 2x" 
                        media="(min-width: 320px)">
                    
                    <img class="about-modal-img" src="./images/modal-about/face-cow-mobile.jpg" alt="морда коровы">
                </picture>
            </div>
            <div class="about-text-wrap">
                <p class="about-paragraph-1">
                    Doloribus quasi perspiciatis consequuntur voluptatum natus repellat.
                    Architecto, quam illo ducimus nostrum necessitatibus, quas nesciunt voluptas error inventore, Omnis?
                </p>
                <p class="about-paragraph-2">
                    Itaque veritatis rerum porro possimus ex eum fuga assumenda cum nam quis, perspiciatis molestiae quas.
                    Ipsum reiciendis eos asperiores totam doloremque iusto voluptate quisquam earum ipsam, fuga alias ratione tempore sequi sapiente dolore aliquam voluptatem quae architecto quasi vitae minus facilis!
                </p>
            </div>
        </li>

        <li class="about-pros-item">
            <div class="about-picture-wrap"> 
                <picture>
                    <source srcset="./images/modal-about/face-cow-desktop.webp 1x, 
                    ./images/modal-about/face-cow-desktop@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)">
                        
                    <source srcset="./images/modal-about/face-cow-desktop.jpg 1x, 
                        ./images/modal-about/face-cow-desktop@2x.jpg 2x" 
                        media="(min-width: 1280px)">
            
                    <source srcset="./images/modal-about/face-cow-tablet.webp 1x, 
                        ./images/modal-about/face-cow-tablet@2x.webp 2x" 
                        type="image/webp" media="(min-width: 768px)">
                            
                    <source srcset="./images/modal-about/face-cow-tablet.jpg 1x, 
                        ./images/modal-about/face-cow-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)">
                        
                    <source srcset="./images/modal-about/face-cow-mobile.webp 1x, 
                        ./images/modal-about/face-cow-mobile@2x.webp 2x" 
                        type="image/webp" media="(min-width: 320px)">
                        
                    <source srcset="./images/modal-about/face-cow-mobile.jpg 1x, 
                        ./images/modal-about/face-cow-mobile@2x.jpg 2x" 
                        media="(min-width: 320px)">
                    
                    <img class="about-modal-img" src="./images/modal-about/face-cow-mobile.jpg" alt="морда коровы">
                </picture>
            </div>
            <div class="about-text-wrap">
                <p class="about-paragraph-1">
                    Doloribus quasi perspiciatis consequuntur voluptatum natus repellat.
                    Architecto, quam illo ducimus nostrum necessitatibus, quas nesciunt voluptas error inventore, Omnis?
                </p>
                <p class="about-paragraph-2">
                    Itaque veritatis rerum porro possimus ex eum fuga assumenda cum nam quis, perspiciatis molestiae quas.
                    Ipsum reiciendis eos asperiores totam doloremque iusto voluptate quisquam earum ipsam, fuga alias ratione tempore sequi sapiente dolore aliquam voluptatem quae architecto quasi vitae minus facilis!
                </p>
            </div>
        </li>

        <li class="about-pros-item">
            <div class="about-picture-wrap"> 
                <picture>
                    <source srcset="./images/modal-about/face-cow-desktop.webp 1x, 
                    ./images/modal-about/face-cow-desktop@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)">
                        
                    <source srcset="./images/modal-about/face-cow-desktop.jpg 1x, 
                        ./images/modal-about/face-cow-desktop@2x.jpg 2x" 
                        media="(min-width: 1280px)">
            
                    <source srcset="./images/modal-about/face-cow-tablet.webp 1x, 
                        ./images/modal-about/face-cow-tablet@2x.webp 2x" 
                        type="image/webp" media="(min-width: 768px)">
                            
                    <source srcset="./images/modal-about/face-cow-tablet.jpg 1x, 
                        ./images/modal-about/face-cow-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)">
                        
                    <source srcset="./images/modal-about/face-cow-mobile.webp 1x, 
                        ./images/modal-about/face-cow-mobile@2x.webp 2x" 
                        type="image/webp" media="(min-width: 320px)">
                        
                    <source srcset="./images/modal-about/face-cow-mobile.jpg 1x, 
                        ./images/modal-about/face-cow-mobile@2x.jpg 2x" 
                        media="(min-width: 320px)">
                    
                    <img class="about-modal-img" src="./images/modal-about/face-cow-mobile.jpg" alt="морда коровы">
                </picture>
            </div>
            <div class="about-text-wrap">
                <p class="about-paragraph-1">
                    Doloribus quasi perspiciatis consequuntur voluptatum natus repellat.
                    Architecto, quam illo ducimus nostrum necessitatibus, quas nesciunt voluptas error inventore, Omnis?
                </p>
                <p class="about-paragraph-2">
                    Itaque veritatis rerum porro possimus ex eum fuga assumenda cum nam quis, perspiciatis molestiae quas.
                    Ipsum reiciendis eos asperiores totam doloremque iusto voluptate quisquam earum ipsam, fuga alias ratione tempore sequi sapiente dolore aliquam voluptatem quae architecto quasi vitae minus facilis!
                </p>
            </div>

        </li>
        
    </ul>
    
</div>  
