<section class="about" id="about">
    <div class="container">
        <p class="section-subtitle">Tradition and love</p>
        <h2 class="section-title">How it's made?</h2>

        <div class="about-wrap">
            <div class="img-wrap">
                <picture>
                    <source srcset="./images/desktop/milk-and-cow-desktop.webp 1x, 
                        ./images/desktop/milk-and-cow-desktop@2x.webp 2x" 
                        type="image/webp" media="(min-width: 1280px)">
                        
                    <source srcset="./images/desktop/milk-and-cow-desktop.png 1x, 
                        ./images/desktop/milk-and-cow-desktop@2x.png 2x" 
                        media="(min-width: 1280px)">
            
                    <source srcset="./images/tablet/milk-and-cow-tablet.webp 1x, 
                        ./images/tablet/milk-and-cow-tablet@2x.webp 2x" 
                        type="image/webp" media="(min-width: 768px)">
                            
                    <source srcset="./images/tablet/milk-and-cow-tablet.png 1x, 
                        ./images/tablet/milk-and-cow-tablet@2x.png 2x" 
                        media="(min-width: 768px)">
                        
                    <source srcset="./images/mobile/milk-and-cow-mobile.webp 1x, 
                        ./images/mobile/milk-and-cow-mobile@2x.webp 2x" 
                        type="image/webp" media="(min-width: 320px)">
                        
                    <source srcset="./images/mobile/milk-and-cow-mobile.png 1x, 
                        ./images/mobile/milk-and-cow-mobile@2x.png 2x" 
                        media="(min-width: 320px)">
                    
                    <img class="about-img" src="./images/mobile/milk-and-cow-mobile.png" alt="корова с молоком">
                </picture>
            </div>
    
            <div class="text-wrap">
                <p class="paragraph-1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. 
                    Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="paragraph-2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. 
                    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit 
                    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="paragraph-3">Aliquam erat volutpat. Aenean accumsan.

                </p>
                <button class="button modal-btn" type="button" about-modal-open>
                    <span>Read more</span>
                    <svg class="icon-arrow" width="7" height="10">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>

        </div>

    </div>

</section>
