<section class="header-container container visually-hidden">
    <p>Buttons temp section</p>
    <p>.modal-btn (базовые стили модальной кнопки на основе хедера, появляется начиная с tablet, эта же кнопка ,будет использоваться в мобильном меню и в контактах)</p>
    <button type="button" class="button modal-btn">
        <span>Buy now</span>
        <svg class="icon-arrow" width="7" height="10">
            <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
    </button>
    <button type="button" class="button modal-btn second">
        <span>Buy now</span>
        <svg class="icon-arrow" width="7" height="10">
            <use href="./images/sprite.svg#icon-arrow-white"></use>
        </svg>
    </button>

<p>Временный кусочек стилей для якорных кнопок</p>
<div>
    <button type="button" class="button anchor-btn second">Products</button>
    <button type="button" class="button anchor-btn">How it’s made?</button>
</div>
<p>Buttons temp section end</p>
</section>