<section class="contacts contacts-bg-img" id="contacts">
  <h2 class="visually-hidden">Our contacts</h2>
  <div class="contacts-padding contacts-translate container ">
    <ul class="contacts-list list">
      <li class="contacts-items">
        <p class="contacts-cafe">CAFE</p>
        <p class="contacts-town">Chicago</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-workdays">Monday - Friday</p>
        <p class="contacts-worktime">06:00 AM - 10:00 PM</p>
        <p class="contacts-workdays">Saturday - Sunday</p>
        <p class="contacts-worktime">08:00 AM - 16:00 PM</p>
        <a class="contacts-link-line link" href="tel:+61(0)383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts-link link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-items">
        <p class="contacts-foodtrack">FOODTRUCK</p>
        <p class="contacts-town">Los Angeles</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-workdays">Monday - Friday</p>
        <p class="contacts-worktime">06:00 AM - 10:00 PM</p>
        <p class="contacts-workdays">Saturday - Sunday</p>
        <p class="contacts-worktime">08:00 AM - 16:00 PM</p>
        <a class="contacts-link-line link" href="tel:+61(0)383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts-link link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-items">
        <p class="contacts-cafe">CAFE</p>
        <p class="contacts-town">New York</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-workdays">Monday - Friday</p>
        <p class="contacts-worktime">06:00 AM - 10:00 PM</p>
        <p class="contacts-workdays">Saturday - Sunday</p>
        <p class="contacts-worktime">08:00 AM - 16:00 PM</p>
        <a class="contacts-link-line link" href="tel:+61(0)383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts-link link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts-btn-list list">
      <li class="contacts-btn-items">
        <!-- <button type="button" class="button modal-btn second"> -->
          <a class="contacts-link-map popup-gmaps link button modal-btn second"
            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1214331530655!2d30.364203815118152!3d50.457463379476266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd35711b36cb%3A0x34851e25555fc8cd!2z0JzQvtGA0L7QttC10L3QvdC-0LUg0L7RgiDRhNC10YDQvNC10YDQsA!5e0!3m2!1sru!2sua!4v1615800932535!5m2!1sru!2sua" rel="noopener noreferrer">
            Our Locations          
            <svg class="icon-arrow" width="7" height="10">
              <use href="./images/sprite.svg#icon-arrow-white"></use>
            </svg>
          </a>
        <!-- </button> -->
      </li>
      <li class="contacts-btn-items">
        <button type="button" class="button modal-btn" data-modal-franchise-open>
          <span>Franchise</span>
          <svg class="icon-arrow" width="7" height="10">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
