<section class="customers-review" id="customers-review">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <!-- Content inside slide -->
          <img src="./images/faces/face-1.png" alt="" class="swiper-image" />
          <div class="swiper-text-wrapper">
            <p class="review-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="swiper-customer">Emily, Los Angeles</p>
        </div>

        <div class="swiper-slide">
          <!-- Content inside slide -->
          <img src="./images/faces/face-2.png" alt="" class="swiper-image" />
          <div class="swiper-text-wrapper">
            <p class="review-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="swiper-customer">Naomi, Los Miami</p>
        </div>

        <div class="swiper-slide">
          <!-- Content inside slide -->
          <img src="./images/faces/face-3.png" alt="" class="swiper-image" />
          <div class="swiper-text-wrapper">
            <p class="review-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="swiper-customer">Alice, Chicago</p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
