<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-description-wrapper">
                <p class="section-subtitle">homemade ice cream made</p>
                <p class="section-title">with passion</p>
            </div>
            <div class="footer-contacts-wrapper">
                <ul class="social-list list">
                    <li class="item">
                        <a class="link" href="#">
                            <svg class="social-icon">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="item">
                        <a class="link" href="#">
                            <svg class="social-icon">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="item">
                        <a class="link" href="#">
                            <svg class="social-icon">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer-call-to-action">
                    Feel free to contact
                    <a href="tel:+610383766284" class="phone link">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <div class="footer-copyright-wrapper">
            <p class="copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
        </div>
              
        
    </div>
</footer>