<section id="gallery">
    <div class="gallery">
        <picture>
           <source srcset="./images/desktop/images-mix-desktop.webp 1x, 
                            ./images/desktop/images-mix-desktop@2x.webp 2x" media="(min-width: 1280px)"
                            type="image/webp">
           <source srcset="./images/desktop/images-mix-desktop.jpg 1x, 
                            ./images/desktop/images-mix-desktop@2x.jpg 2x" media="(min-width: 1280px)">
           <source srcset="./images/tablet/images-mix-tablet.webp 1x, 
                            ./images/tablet/images-mix-tablet@2x.webp 2x" media="(min-width: 768px)"
                            type="image/webp">
           <source srcset="./images/tablet/images-mix-tablet.jpg 1x, 
                            ./images/tablet/images-mix-tablet@2x.jpg 2x" media="(min-width: 768px)">
           <source srcset="./images/mobile/images-mix-mobile.webp 1x, 
                            ./images/mobile/images-mix-mobile@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
           <source srcset="./images/mobile/images-mix-mobile.jpg 1x, 
                            ./images/mobile/images-mix-mobile@2x.jpg 2x" media="(min-width: 320px)">
           <img src="./images/mobile/images-mix-mobile.jpg" alt="gallery" class="gallery-img">
        </picture>
    </div>
</section>