<section class="header">
  <div class="container">
  
    <nav class="main-nav">

      <a class="logo animate__tada" href="./index.html"></a>
    
      <ul class="nav-list list">
        <li class="item">
          <a class="link current" href="./">Home</a>
        </li>
    
        <li class="item">
          <a class="link" href="#customers-review">About us</a>
        </li>
    
        <li class="item">
          <a class="link" href="#about">How it’s made?</a>
        </li>
    
        <li class="item">
          <a class="link" href="#products">Our products</a>
        </li>
    
        <li class="item">
          <a class="link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn" type="button" data-menu-button>
      <svg class="burger-icon">
        <use href="./images/sprite.svg#burger-icon"></use>
      </svg>
    </button>

    <button data-modal-open type="button" class="button modal-btn">
      <span>Buy now</span>
      <svg class="icon-arrow" width="7" height="10">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
</section>