<div class="mobile-menu" data-menu>
  <button class="mobile-menu-close" type="button" data-menu-close>
    <svg class="mobile-menu-close-icon" width="14" height="14">
      <use href="./images/sprite.svg#close-icon"></use>
    </svg>
  </button>

  <button data-modal-open class="button modal-btn" type="button">
    Buy now
    <svg class="icon-arrow" width="7" height="10">
      <use href="./images/sprite.svg#icon-arrow"></use>
    </svg>
  </button>

  <nav class="mobile-nav">
    <ul class="mobile-nav-list list">
      <li class="mobile-nav-item item">
        <a class="mobile-nav-link link current" href="./">Home</a>
      </li>

      <li class="mobile-nav-item item">
        <a class="mobile-nav-link link" href="#customers-review">About us</a>
      </li>

      <li class="mobile-nav-item item">
        <a class="mobile-nav-link link" href="#about">How it’s made?</a>
      </li>

      <li class="mobile-nav-item item">
        <a class="mobile-nav-link link" href="#products">Our products</a>
      </li>

      <li class="mobile-nav-item item">
        <a class="mobile-nav-link link" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>
</div>
