<div class="backdrop-franchise is-hidden" data-modal-franchise>
    <div class="modal-franchise">
        <button class="franchise-close" type="button" data-modal-franchise-close>
            <svg class="mobile-menu-close-icon" width="14" height="14">
                <use href="./images/sprite.svg#close-icon"></use>
            </svg>
        </button>
        <h2 class="franchise-title"> REQUEST INFORMATION</h2>
        <p class="franchise-subtitle">Request more information on starting your own IceCream Franchise</p>

        <form action="#" class="franchise-form" autocomplete="off">
            <div>
                <label class="modal-label" for="name">Name:</label>
                <input class="modal-input" id="name" name="name" placeholder=" " type="text">
            </div>
            
            <div>
                <label class="modal-label" for="mail">Email:</label>
                <input class="modal-input" type="email" name="email" id="mail">
            </div>
            
            <div>
                <label class="modal-label" for="tel">Phone:</label>
                <input class="modal-input" type="tel" name="phone" id="tel">
            </div>
            
            <div>
                <label class="modal-label" for="adress">Adress:</label>
                <input class="modal-input" type="text" name="adress" id="adress">
            </div>
            
            <div>
                <label class="modal-label" for="city">City:</label>
                <input class="modal-input" type="text" name="city" id="city">
            </div>
            
            <div>
                <label class="modal-label" for="state">State:</label>
                <select class="modal-select" id="state" name="state">
                    <option value="" selected="selected">-- Select --</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="District of Columbia">District of Columbia</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select>
            </div>
            
            <div>
                <label class="modal-label" for="geographic-area">What geographic area interests you?</label>
                <input class="modal-input" type="text" id="geographic-area" name="geographic_area">
            </div>
            
            <!-- <fieldset class="radios-wrapper">
                <legend class="fieldset-legend">Do you have access to $125k of liquid assets to apply to the purchase of a
                        Kilwins store?</legend>
                <div class="fieldset-wrapper">
                    <div class="assets-wrapper">
                        <input type="radio" id="assets-yes" name="liquid_assets" value="Yes" class="form-radio">
                        <label for="assets-yes" class="option">Yes</label>
                    </div>
                            
                    <div class="assets-wrapper">
                        <input type="radio" id="assets-no" name="liquid_assets" value="No" class="form-radio"> 
                        <label for="assets-no" class="option">No</label>
                    </div>
                </div>
            </fieldset> -->

            <div class=""> 
                <label class="modal-label" for="time-frame">What is your time frame to open an IceCream Franchise?</label> 
                <select id="time-frame" name="time_frame" class="modal-select">
                    <option value="" selected="selected">-- Select --</option>
                    <option value="Less than 3 months">&lt; 3 months</option>
                    <option value="3 - 6 Months">3 - 6 Months</option>
                    <option value="6 - 12 Months">6 - 12 Months</option>
                    <option value="More than 12 months">&gt; 12 months</option>
                </select>
            </div>

            <label for="how-hear-about">How did you hear about IceCream?</label>
            <input type="text" id="how-hear-about" name="how_did_you_hear_about" value="" class="modal-input">

            <button class="button modal-btn franchise-button" type="submit">Request Information</button>
           
        </form>
    </div>
</div>