<section class="products" id="products">
    <div class="container">
        <p class="section-subtitle">100% Natural</p>
        <h2 class="section-title">Products</h2>
        <ul class="list products-list">
            <li class="product-item product-icecream">
                    <h3 class="product-title icecream-title">Ice Cream</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="text-visible">. dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="arrow-button">
                        <svg class="arrow-button__icon" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
            </li>
            <li class="product-item product-icecoffee">
                    <h3 class="product-title icecoffee-title">Ice Coffee</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="text-visible">. dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="arrow-button">
                        <svg class="arrow-button__icon" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
            </li>
            <li class="product-item product-milkshakes">
                    <h3 class="product-title milkshakes-title">Milkshakes</h3>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="text-visible">. dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="arrow-button">
                        <svg class="arrow-button__icon" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
            </li>
        </ul>
    </div>
</section>
